$back-button: 22px;
$input-height: 30px;
.user-password-container {
  min-height: 100px;
  .user-blocked {
    font-size: 12px;
  }
  .user-password {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    .user-back,
    .user-space {
      width: $back-button;
      height: $back-button;
      border-radius: $back-button;
      margin: 10px;
    }

    .user-back {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(10px);
      svg {
        opacity: 0.5;
        margin: 4px;
        margin-right: 6px;
      }
    }
    input {
      width: 140px;
      height: 23px;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 4px;
      padding: 2px 8px;
      border: 0;
      color: rgba(255, 255, 255, 0.8);
      font-size: 12px;
      font-weight: bold;
      outline: none;
      backdrop-filter: blur(10px);
      &::placeholder {
        color: rgba(255, 255, 255, 0.3);
      }
    }
  }

  .user-remark {
    margin-top: 10px;
    font-size: 12px;
  }
}
