$back-button: 32px;
$input-height: 30px;
.user-password-container {
  min-height: 100px;
  .user-blocked {
    font-size: 12px;
  }
  .user-password {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    .user-back,
    .user-space {
      width: $back-button;
      height: $back-button;
      border-radius: $back-button;
      margin: 10px;
    }

    .user-back {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: rgba(255, 255, 255, 0.6);
      svg {
        opacity: 0.6;
        margin: 8px;
      }
    }
    input {
      width: 200px;
      height: $input-height;
      background: rgba(255, 255, 255, 0.5);
      border-radius: 8px;
      padding: 3px 8px;
      border: 0;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 500;
      font-size: 16px;
      outline: none;
      ::placeholder {
        color: rgba(255, 255, 255, 1);
      }
    }
  }

  .user-remark {
    margin-top: 20px;
    font-size: 13px;
  }
}
